<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/style.css">
  <title>Weather</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
  
</head>

<body>
  {{>header}}
  <main>
  <div class="container">
    <div class="indexTitle">
  <h1>{{title}}</h1>
  <p>Created by: {{names}}</p>
  </div>
  </div>

  <section class="container">
    <form>
    <div class="search-group">
      <label for="search">Search:</label>
      <input type="text" name = 'search' placeholder="City i.e. Boston" >
      <button type="submit">Search</button>
       </div>
       </form>
      <div class="weather-content">
        <div class="row">
          <div class="column column1">
            <p id = "message-1"></p>
            <p id = "message-2"></p>
            <p id="data"></p>
          </div>
       
      </div>
   
  </section>
  </main>

  {{>footer}}

  <script src="./js/App.js"></script>
</body>

</html> 