<div class="container nav-container">
<div class="logo">
  <img src="/img/avatar.png">
  </div>
<nav>
  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href= "/help">Help</a></li>
  <li>Clients</li>
  </ul>
  </nav>
  <hr />
</div>
<hr />
